html, body{ margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            font-size: 62.5%
            box-sizing; border-box;}

body{ margin: 0;
      padding: 0;}

header{ margin: 0;
        padding: 0;
        width:auto;
        height: 155px;
        background-color: blue;} 
    

button{ border: none;
        float: left;
        font-size: 1.1 em;
        background-color: white;
    }
    
h2{ margin-bottom: 10px 
    text-align: center; 
    }

#topleft{ position: relative;
          font-size: 1.2em;
          height: 100%;
          width: 15%;
          line-height: 4em;
          text-align: center;
          float: right;
          color: black;
          background-color: red;
          
    
              }
#signin{margin: 0;
        padding: 0;
        width: 15%;
        height: 100%;
        float: right;
        background-color: gold; 
        text-align: center;
        position: relative -90px;
        }

#log{margin: 0;
     height: 100%;
     width: 15%;
     background-color: orange;
     float: right;
     text-align: center;}    
    
    
    